body {
	background: #eeeeee;
	font-family: "Varela Round", sans-serif;
  }
  .form-inline {
	display: inline-block;
  }
  .navbar-header.col {
	padding: 0 !important;
  }
  .navbar {
	position: fixed;
	background: #fff;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	margin-top: 14px;
	margin-left: 14px;
	margin-right: 14px;
  }
  
  .nav-link {
	margin: 0 5px;
  }
  .nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
  }
  .navbar .navbar-brand {
	color: #555;
	padding-left: 32px;
	font-size: 20px;
	padding-right: 42%;
	font-family: "Raleway", sans-serif;
  }
  .navbar .navbar-brand b {
	font-weight: bold;
	color: #eb5844;
  }
  .navbar .navbar-nav a:hover,
  .navbar .navbar-nav a:focus {
	color: #332256 !important;
  }
  .navbar .navbar-nav a.active,
  .navbar .navbar-nav a.active:hover {
	color: #332256 !important;
	background: transparent !important;
  }
  
  .navbar .nav-item i {
	font-size: 18px;
	font-weight: bold;
  }
  .navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
  }
  .navbar .nav-item.show > a {
	background: none !important;
  }
  .navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  .navbar .dropdown-menu a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
  }
  .navbar .navbar-form {
	margin-right: 0;
	margin-left: 0;
	border: 0;
  }
  @media (min-width: 992px) {
	.form-inline .input-group {
	  width: 250px;
	  margin-right: 30px;
	}
  }
  @media (max-width: 991px) {
	.form-inline {
	  display: block;
	  margin-bottom: 10px;
	  margin-top: 0;
	}
	.input-group {
	  width: 100%;
	}
  }
  @media (max-width: 1089px) {
	.navbar .navbar-navs {
	  display: none;
	}
  }
  @media screen and (max-width: 479px) {
  .navbar .navbar-brand {
	color: #332256 ;
	padding-left: 0px;
  }
}
  /* home */
  
  .about-photo {
	max-height: 550px;
	align-items: right;
  }
  
  .work__container {
	row-gap: 2rem;
  }
  .work__img {
	box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
	border-radius: 0.5rem;
	overflow: hidden;
  }
  .work__img img {
	transition: 1s;
	cursor: pointer;
  }
  .work__img img:hover {
	transform: scale(1.1);
  }







  /*abot*/







  .profile_area .col-lg-7 {
	vertical-align: middle;
	align-self: center; 
}
  
  
	.profile_inner .personal_text {
	  padding-left: 95px; }
  
  .personal_text h6 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.1px;
	font-weight: normal;
	margin-bottom: 12px;
	color: #222222; }
  .personal_text h4 {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #222222; }
  .personal_text h3 {
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #222222; }
  .personal_text p {
	max-width: 540px;
	color: #777777;
	margin-bottom: 40px; }
  .personal_text .basic_info li {
	margin-bottom: 15px; }
	.personal_text .basic_info li a {
	  position: relative;
	  padding-left: 40px;
	  font-size: 16px;
	  color: #777777; }
	  .personal_text .basic_info li a i {
		position: absolute;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		color: #766dff; }
	.personal_text .basic_info li:last-child {
	  margin-bottom: 0px; }
  .personal_text .personal_social {
	margin-top: 45px; }
	.personal_text .personal_social li {
	  display: inline-block;
	  margin-right: 7px; }
	  .personal_text .personal_social li:last-child {
		margin-right: 0px; }
	  .personal_text .personal_social li a {
		line-height: 40px;
		width: 40px;
		background: #e8e8e8;
		border-radius: 5px;
		display: inline-block;
		text-align: center;
		color: #fff;
		font-size: 16px; }
	  .personal_text .personal_social li:hover a {
		background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
		background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
		background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }

  

.tab {
	overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
	  margin-bottom: 14px;
	padding-left: 0px;
	padding-right: 10px;
	background-color: inherit;
	float: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
	font-weight: bold;
	color: #ffffffa2;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	color: #332256;
	outline: none;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	color: #ffffff;
	outline: none;
  }
  
  /* Style the tab content */
  .tabcontent {
	margin-top: -15px;
	display: none;
	/* padding: 0px 8px; */
  }

  @media screen and (max-width: 479px){
	.profile_inner .personal_text {
		padding-left: 0px; 
	margin-top: 24px;}
	}

 