body {
	background: #ffffff;
	font-family: "Varela Round", sans-serif;
  }
  .form-inline {
	display: inline-block;
  }
  .navbar-header.col {
	padding: 0 !important;
  }
  .navbar {
	position: fixed;
	background: rgba(255, 255, 255, 0.007);
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	margin-top: 14px;
	margin-left: 14px;
	margin-right: 14px;
  }
  
  .burger-icon {
    -webkit-text-size-adjust: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #332256  ;
    font-size: 32px;
    box-sizing: border-box;
    font-family: 'webflow-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1px;
    -webkit-font-smoothing: antialiased;
  }

  

  .nav-link {
	margin: 0 5px;
  }
  .nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
  }
  .navbar .navbar-brand {
	color: #555;
	padding-left: 32px;
	font-size: 20px;
	padding-right: 26%;
	font-family: "Raleway", sans-serif;
  }
  .navbar .navbar-brand b {
	font-weight: bold;
	color: #eb5844;
  }
  .navbar .navbar-nav a:hover,
  .navbar .navbar-nav a:focus {
	color: #332256 !important;
  }
  .navbar .navbar-nav a.active,
  .navbar .navbar-nav a.active:hover {
	color: #332256 !important;
	background: transparent !important;
  }
  
  
  .navbar .nav-item i {
	font-size: 18px;
	font-weight: bold;
  }
  .navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
  }
  .navbar .nav-item.show > a {
	background: none !important;
  }
  .navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  .navbar .dropdown-menu a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
  }
  .navbar .navbar-form {
	margin-right: 0;
	margin-left: 0;
	border: 0;
  }
  @media (min-width: 992px) {
	.form-inline .input-group {
	  width: 250px;
	  margin-right: 30px;
	}
  }
  @media (max-width: 991px) {
	.form-inline {
	  display: block;
	  margin-bottom: 10px;
	  margin-top: 0;
	}
	.input-group {
	  width: 100%;
	}
  }
  @media (max-width: 1089px) {
	.navbar .navbar-navs {
	  display: none;
	}
  }
  @media screen and (max-width: 479px) {
  .navbar .navbar-brand {
	color: #332256 ;
	padding-left: 0px;
  }
}
  /* home */
  
  .about-photo {
	max-height: 550px;
	align-items: right;
  }
  
  .work__container {
	row-gap: 2rem;
  }
  .work__img {
	box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
	border-radius: 0.5rem;
	overflow: hidden;
  }
  .work__img img {
	transition: 1s;
	cursor: pointer;
  }
  .work__img img:hover {
	transform: scale(1.1);
  }







  /*abot*/





  .profile_area .col-lg-7 {
	vertical-align: middle;
	align-self: center; 
}
  
  
	.profile_inner .personal_text {
	  padding-left: 95px; }
  
  .personal_text h6 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.1px;
	font-weight: normal;
	margin-bottom: 12px;
	color: #222222; }
  .personal_text h4 {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #222222; }
  .personal_text h3 {
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #222222; }
  .personal_text p {
	max-width: 540px;
	color: #777777;
	margin-bottom: 24px; }
  .personal_text .basic_info li {
	margin-bottom: 15px; }
	.personal_text .basic_info li a {
	  position: relative;
	  padding-left: 40px;
	  font-size: 16px;
	  color: #777777; }
	  .personal_text .basic_info li a i {
		position: absolute;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		color: #766dff; }
	.personal_text .basic_info li:last-child {
	  margin-bottom: 0px; }
  .personal_text .personal_social {
	margin-top: 45px; }
	.personal_text .personal_social li {
	  display: inline-block;
	  margin-right: 7px; }
	  .personal_text .personal_social li:last-child {
		margin-right: 0px; }
	  .personal_text .personal_social li a {
		line-height: 40px;
		width: 40px;
		background: #e8e8e8;
		border-radius: 5px;
		display: inline-block;
		text-align: center;
		color: #fff;
		font-size: 16px; }
	  .personal_text .personal_social li:hover a {
		background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
		background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
		background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }

  

.tab {
	overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
	  margin-bottom: 14px;
	padding-left: 0px;
	padding-right: 20px;
	background-color: inherit;
	float: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
	font-weight: bold;
	color: #c9c9c9;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	color: #332256;
	outline: none;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	color: #332256;
	outline: none;
  }
  
  /* Style the tab content */
  .tabcontent {
	margin-top: -15px;
	display: none;
	/* padding: 0px 8px; */
  }

  @media screen and (max-width: 479px){
	.profile_inner .personal_text {
		padding-left: 0px; 
	margin-top: 24px;}
	}

	
	.tab button::after {
	  content: "";
	  height: 4px;
	  background: #c9c9c9;
	  display: block;
	  transition: width 0.3s ease-in-out;
	  margin: 0;
	}
	
	.tab button::before { width: 0; }
	.tab button::after { 
		width: 30px;
	 }
	
	.tab button:hover::before { width: 0; }
	.tab button:hover::after { 
		width: 100%;
		background: #332256;
	 }
	.tab button.active::after { 
		width: 100%; 
		background: #332256;
	}



	/* content */

	.content-section {
		position: relative;
		padding: 92px 3%;
	}


	@media screen and (max-width: 991px){
.contact-card-grid {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
}
	}

	.contact-card-grid {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-rows: auto;
		grid-template-rows: auto;
	}


	.w-layout-grid {
		display: -ms-grid;
		display: grid;
		grid-auto-columns: 1fr;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		-ms-grid-rows: auto auto;
		grid-template-rows: auto auto;
		grid-row-gap: 16px;
		grid-column-gap: 16px;
	}
	.contact-card{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    box-sizing: border-box;
    display: flex;
    padding: 52px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 79px 79px 122px 0 rgba(206, 212, 224, 0.2);
    color: #55527c;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.03em;
	}





	
	.footer-card{
		-webkit-text-size-adjust: 100%;
		font-family: Karla, sans-serif;
		color: #333;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		box-sizing: border-box;
		display: flex;
		padding: 90px 50px 40px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		border-radius: 32px;
		background-color: #e9f9ff;
		text-align: center;
	}

	.footer-content-wrap{
		-webkit-text-size-adjust: 100%;
		font-family: Karla, sans-serif;
		color: #333;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		text-align: center;
		box-sizing: border-box;
		display: flex;
		margin-bottom: 40px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
	}
	 .title{
		-webkit-text-size-adjust: 100%;
		font-family: Karla, sans-serif;
		line-height: 20px;
		text-align: center;
		-webkit-box-direction: normal;
		box-sizing: border-box;
		margin-bottom: 20px;
		color: #b4b2c5;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
	 }


.footer-h2{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    text-align: center;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #130f49;
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    font-weight: 600;
}


.footer-mail-wrap{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    display: flex;
    margin-top: 40px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.footer-email{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    text-align: center;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #b4b2c5;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
    font-size: 24px;
}

.mail-icon{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

@media screen and (max-width: 479px){
	.mail-icon {
		margin-bottom: 12px;
	}
	}

.footer-link-wrap{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin-top: 24px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}

.footer-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 56px;
    height: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	margin: 12px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 4px 30px 55px 0 rgb(88 207 255 / 20%);
}





.nav-menu-footer{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

	.legal-text-wrap{
		-webkit-text-size-adjust: 100%;
		font-family: Karla, sans-serif;
		color: #333;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		box-sizing: border-box;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer-legal-text{
		-webkit-text-size-adjust: 100%;
		font-family: Karla, sans-serif;
		line-height: 20px;
		font-weight: 400;
		box-sizing: border-box;
		color: #55527c;
		font-size: 16px;
		text-align: center;
		letter-spacing: -0.02em;
		margin: 20px;
	}

/*about*/

.grid-content-right{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    padding-right: 20px;
}

.title1 {
	-webkit-text-size-adjust: 100%;
    font-family: "Varela Round", sans-serif;
    line-height: 20px;
    box-sizing: border-box;
    margin-bottom: 12px;
    color: #b4b2c5;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.paragraph-large{
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin-top: 0;
    font-family: "Varela Round", sans-serif;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 4px;
    color: #55527c;
    font-size: 18px;
    letter-spacing: -0.03em;
}
	
.author-wrap{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    margin-top: 40px;
    -webkit-box-align: center;
    align-items: center;
}

.author
{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    overflow: hidden;
    width: 65px;
    height: 65px;
    min-height: 65px;
    min-width: 65px;
    margin-right: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #fff;
    border-radius: 100px;
    background-color: #cdcaff;
    box-shadow: 11px 33px 55px 0 rgba(85, 82, 124, 0.15);
}

.author-name-wrap{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
}

.author-name{
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin-top: 0;
    font-family: Karla, sans-serif;
    letter-spacing: -0.01em;
    margin-bottom: 4px;
    color: #130f49;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
}

.detail{
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    line-height: 20px;
    box-sizing: border-box;
    color: #b4b2c5;
    font-size: 15px;
    font-weight: 400;
}


.overview-section {
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: 132px 3%;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
	margin-top: 48px;
	margin-bottom: 48px;
}


.bg-block-blue {
	-webkit-text-size-adjust: 100%;
    font-family: Karla, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: -1;
    max-height: 100%;
    min-height: 500px;
    min-width: 400px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    background-color: #f8f8ff;
    width: 70%;
    height: 1035px;
}


.mousey {
  margin-right: 12px;
  width: 3px;
  padding: 3px 8px;
  height: 28px;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 8px;
  border-radius: 100%;
  background-color: rgb(190, 190, 190);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


/* project */

.div-block-5 {
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  font-family:  Karla, sans-serif;
  color: #130f49;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  white-space: normal;
  box-sizing: border-box;
  position: sticky;
  top: 40px;
  margin-left: -10px;
}

.title-project
{
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  line-height: 150%;
  white-space: normal;
  box-sizing: border-box;
  padding-bottom: 20px;
  font-family:  Karla, sans-serif;
  color: #b4b2c5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}


.div-block-5 p{
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  white-space: normal;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 10px;
  font-family:  Karla, sans-serif;
  color: #55527c;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.w-richtext:before, .w-richtext:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}


.w-richtext h2{
  color: #332256;
  margin-bottom: 8px;
  letter-spacing: -0.04em;
  line-height: 1.2;
}


.w-col{
  margin-bottom: 24px;
}

.w-richtext  h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #332256;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}


.bg-block-blue1{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: -1;
    max-height: 100%;
    min-height: 500px;
    min-width: 360px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    background-color: #f8f8ff;
    width: 68%;
    height: 1000px;
    overflow: hidden;
}